<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960610492652-rif0n3ao8cj5mhnut1849fovjbdsd583.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960610492652-rif0n3ao8cj5mhnut1849fovjbdsd583</string>
	<key>API_KEY</key>
	<string>AIzaSyBSxjd_zjy55RzC3Hvet1Q3wHfizfgLDTg</string>
	<key>GCM_SENDER_ID</key>
	<string>960610492652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.workoutApp</string>
	<key>PROJECT_ID</key>
	<string>strengthchronicle</string>
	<key>STORAGE_BUCKET</key>
	<string>strengthchronicle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960610492652:ios:5d9737c8ec29450e8d05c9</string>
</dict>
</plist>